body {
	background-color: lightgray;
	font-family: "verdana";
	color: black;
}
p {
	left-margin: "10px";
}
#gay {
	color: yellow;
}

.flex-container {
	display: flex;
	height: 100px;
	transition: 0.5s;
}

.flex-container:hover .flexint {
	margin:0px;
	transition:0.5s;
}

.flex-container .flexint {
	margin: 10px;
	transition: 0.5s;
}

button {
	
}